#mybox {
    display: grid;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-areas: 
        "Area1 Area1 Area2 Area2 Area2 Area2"
        "Area3 Area3 Area4 Area4 Area4 Area5"
        "Area3 Area3 Area6 Area7 Area7 Area7"
        "Area3 Area3 Area8 Area8 Area8 Area8";
}

.item {
    padding: 10px;
    border: 2px black;
}